@model WebApplication1.ViewModel.DepartmentUserViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var department in Model.Departments)
    {
        <tr>
            <td>@department.Id</td>
            <td>@department.Name</td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-bordered table-success">
                    @{
                        var usersInDepartment = Model.Users
                            .Where(u => u.DepartmentRefId == department.Id)
                            .ToList();
                    }
                    @if (!usersInDepartment.Any())
                    {
                        <tr><td class="text-danger">No Users Found</td></tr>
                    }
                    else
                    {
                        foreach (var user in usersInDepartment)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.DateOfBirth</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    }
</table>